* {
    padding: 3px;
    text-align: center;
    border-radius: 20px;
}


.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: #b88d57;
}

.top-area:hover {
    opacity: 0.8;
    border: 5px solid black;
}

.top-area {
    width: 150px;
    height: 150px;
    float: left;
    margin: 3px 5px;
    border: 2px solid black;
    border-radius: 30px;
}


.bottom-area {
    float: left;
    width: 100%;
    margin: 10px 0px;
    border:10px double black;
    font-size: 30px;
}

.bottom-area:hover{
    opacity: 0.6;
    border: 5px ridge black;
}

button:hover {
    border: 5px ridge black;
}

img {
    width: 100px;
    border-radius: 100px;
}

img:hover {
    border: 5px ridge white;
}

hr {
    border: 2px ridge grey;
}