<!DOCTYPE html>
<html ng-app="RembrandtApp">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Paintings</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
<body ng-controller="PaintingsController">
    <h1>Example #2</h1>
    <h1>with Angular Prince</h1>
    <hr>
    <table>
        <tr>
            <td>
                <button class="btn btn-danger" ng-click="previous();">previous</button>
            </td>
            <td>
                <img class="big" ng-src="{{paintings[paintingCount]}}">
            </td>
            <td>
                <button class="btn btn-success" ng-click="next();">next</button>
            </td>
        </tr>
    </table>
</body>
</html>