<!DOCTYPE html>
<html ng-app="ComposersList">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Famous Composers</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
<body ng-controller="ComposerController">
    <h1>Example #3</h1>
    <h1>with Angular Prince</h1>
    <hr>

    <table class="table-top">
        <tr>
            <td>
                <img ng-click="select = 'Bach'" src="assets/img/composer1.PNG" alt=""> Bach
            </td>
            <td>
                <img ng-click="select = 'Mozart'" src="assets/img/composer2.PNG" alt=""> Mozart
            </td>
            <td>
                <img ng-click="select = 'Beethoven'" src="assets/img/composer3.PNG" alt=""> Beethoven
            </td>
        </tr>
    </table>

    <table class="table-bottom">
        <tr>
            <td colspan="3"><h2>Top 5 Pieces of Music</h2></td>
        </tr>
        <tr ng-repeat="p in pieces" ng-if="p.composer == select">
            <td><img src="{{p.pic}}" alt=""></td>
            <td>{{p.composer}}</td>
            <td>{{p.title}}</td>
        </tr>
    </table>
    
</body>
</html>